
/* - ++resource++pleiades.notredame.stylesheets/columns.css - */
/* https://pleiades.stoa.org/portal_css/++resource++pleiades.notredame.stylesheets/columns.css?original=1 */
div.row {
float: left;
width: 100%;
display: block;
position: relative;
}
div.cell {
position: relative;
float: left;
left: 100%;
}
/* */
.ie6 div.cell {
float: none;
}
/* */
div.width-1  { width:  4%    }
div.width-2  { width: 10.25% }
div.width-3  { width: 16.5%  }
div.width-4  { width: 22.75% }
div.width-5  { width: 29%    }
div.width-6  { width: 35.25% }
div.width-7  { width: 41.5%  }
div.width-8  { width: 47.75% }
div.width-9  { width: 54%    }
div.width-10 { width: 60.25% }
div.width-11 { width: 66.5%  }
div.width-12 { width: 72.75% }
div.width-13 { width: 79%    }
div.width-14 { width: 85.25% }
div.width-15 { width: 91.5%  }
div.width-16 { width: 97.75% }
/* */
/* */
div.position-0  { margin-left: -98.875% }
div.position-1  { margin-left: -92.625% }
div.position-2  { margin-left: -86.375% }
div.position-3  { margin-left: -80.125% }
div.position-4  { margin-left: -73.875% }
div.position-5  { margin-left: -67.625% }
div.position-6  { margin-left: -61.375% }
div.position-7  { margin-left: -55.125% }
div.position-8  { margin-left: -48.875% }
div.position-9  { margin-left: -42.625% }
div.position-10 { margin-left: -36.375% }
div.position-11 { margin-left: -30.125% }
div.position-12 { margin-left: -23.875% }
div.position-13 { margin-left: -17.625% }
div.position-14 { margin-left: -11.375% }
div.position-15 { margin-left:  -5.125% }
/* */
/* */
div.width-1\3a 2 { width:    47.75%; } /* */
div.width-1\3a 4 { width:    22.75%; } /* */
div.width-3\3a 4 { width:    72.75%; } /* */
div.width-full   { width:    97.75%  }
div.position-1\3a 4 {margin-left:    -73.875%;} /* */
div.position-1\3a 2 {margin-left:    -48.875%;} /* */
div.position-3\3a 4 {margin-left:    -23.875%;} /* */
/* */
div.width-1\3a 3 { width: 31.08%; } /* */
div.width-2\3a 3 { width: 64.42%; } /* */
div.position-1\3a 3 {margin-left: -65.545%;} /* */
div.position-2\3a 3 {margin-left: -32.205%;} /* */

